* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    background-image: url('/images/login_bg-compress.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hue;
    padding: 20px 0px;
}

.logo-img {
    width: 160px;
    height: auto;
    margin: auto;
    display: block;
}

.h2-title{
    font-size: 30px;
}

.form-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper {
    width: 420px;
    border: none;
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 25px 20px;
    /* background: linear-gradient(135deg, rgba(159, 154, 34, 1) 0%, rgba(24, 25, 0, 1) 100%); */
    background: rgba(181, 179, 38, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 15px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: auto;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #2d2c25;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 12px 45px 12px 40px;
    margin-top: 2px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 55%;
    transform: translate(-50%);
    font-size: 20px;
}

.input-box button {
    position: absolute;
    right: -60px;
    top: 34.5%;
    transform: translate(-50%);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.input-box button:disabled {
    cursor: not-allowed;
}

.red-error-text {
    padding: 0px 10px;
    color: red;
    margin: auto;
}

.input-box button p {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0px;
    padding: 0px 22px;
    height: 50px;
    background: linear-gradient(135deg, rgba(225,218,53,1) 0%, rgba(20,20,0,1) 100%);
    border-radius: 0px 10px 10px 0px;
}

.input-box button i {
    position: static;
}

.g-img{
    position: absolute;
    top: -82px !important;
    right: -75px !important;
    height: 150px;
    width: 130px;
}

.g-img img{
    height: 150px;
    width: 130px;
}

/* Input Box CSS */

.input-box-2 {
    position: relative;
    width: 100%;
    height: auto;
}

.input-box-2 input {
    width: 100%;
    height: 100%;
    background: #2d2c25;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 12px 45px 12px 40px;
    margin-top: 2px;
}

.input-box-2 input::placeholder {
    color: #fff;
}

.input-box-2 i {
    position: absolute;
    left: 20px;
    top: 55%;
    transform: translate(-50%);
    font-size: 20px;
    cursor: pointer;
}

.input-box-2 a {
    position: absolute;
    right: 50px;
    top: 55%;
    transform: translate(-50%);
    font-size: 20px;
}

.input-box-inner {
    display: flex;
    align-items: center;
    position: absolute;
    top: 52%;
    left: 20px;
}

.input-box-inner i {
    position: static;
}

.phone-input {
    padding: 12px 45px 12px 65px !important;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(225,218,53,1) 0%, rgba(20,20,0,1) 100%);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
}

.wrapper .whatsApp-btn {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(75,162,34,1) 0%, rgba(20,20,0,1) 100%);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.wrapper a{
    text-decoration: none;
}

.wrapper .whatsApp-btn i{
    font-size: 22px;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 425px) {
    .wrapper {
        padding: 20px 10px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #2d2c25;
    border: 1px solid rgba(255, 255, 255, .2);
}

.or-btn{
    width: 80%;
    position: relative;
    margin: auto;
}

.or-btn h4{
    color: white;
    text-align: center;
}

.or-btn h4::before{
    content: "";
    width: calc(50% - 25px);
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    background: #fff;
    height: 2px;
}

.or-btn h4::after{
    content: "";
    width: calc(50% - 25px);
    position: absolute;
    right: 0;
    left: inherit;
    bottom: calc(50% - 1px);
    background: #fff;
    height: 2px;
}

.wrapper marquee img{
    width: 200px;
    height: auto;
    margin-right: 10px;
}

/* Responsive Code */

@media (max-width:425px) {
    .wrapper{
        width: 98%;
    }
}

/* Popup Code */

.popup-code {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #b6b326, #bdba22, #c4c01d, #cbc716, #d2ce0c);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.popup-main-box {
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-main-box img {
    width: 90%;
    height: auto;
}

.popup-middle-box {
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
}

.congrats-para {
    color: red;
    font-size: 30px;
    font-weight: 900;
}

.won-para {
    color: black;
    font-size: 22px;
    font-weight: 900;
}

.won-amount {
    color: red;
    font-size: 80px;
    font-weight: 900;
}

.won-amount sup {
    font-size: 40px;
}

.username-para {
    color: red;
    font-size: 15px;
    font-weight: 900;
}

.popup-middle-box button {
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    animation: abc 1.3s infinite;
}

@keyframes abc {
    0% {
        background-color: #cac725;
        box-shadow: 0 0 3px #b6b326;
    }

    50% {
        background-color: #fdfa5a;
        box-shadow: 0 0 15px #b6b326;
    }

    100% {
        background-color: #cac725;
        box-shadow: 0 0 3px #b6b326;
    }
}

.note-text {
    font-size: 12px;
}